<!DOCTYPE html>
<html>
  <head>
    <title>Degree works</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, user-scalable = no, initial-scale = 1">
    <link rel = "stylesheet" href = "../public/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "../public/css/bootstrapValidator.min.css">
    <link rel = "stylesheet" href = "../public/css/styles.css">
    <script src = "../public/js/jquery.min.js"></script>
    <script src = "../public/js/loader.js"></script>
    <script src = "../public/js/bootstrap.min.js"></script>
    <script src = "../public/js/bootstrapValidator.min.js"></script>
  </head>
  <body id = "login-body">
    <section class = "container">
      <div class = "panel panel-default">
        <div class = "main row-fluid">
          <div class = "col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <header class = "panel-heading">
              <h4 id = "login-h4">Login</h4>
            </header>
          </div>
          <div class = "col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 row-fluid" id = "login-box">
            <div class = "panel-body">
              <form role = "form" name = "login-form" class = "form-horizontal" id = "registration-form">
                <div class = "form-group row">
                  <label class = "control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for = "user">User:</label>
                  <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input type = "text" class = "form-control" id = "user" name = "user" placeholder = "Your user name"/>
                  </div>
                </div>
                <div class = "form-group row">
                  <label class = "control-label col-xs-12 col-sm-12 col-md-3 col-lg-3" for = "password">Password:</label>
                  <div class = "col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <input type = "password" class = "form-control" id = "password" name = "password" placeholder = "Your user password"/>
                  </div>
                </div>
                <div class = "form-group row">
                  <div class = "col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2">
                    <button type = "submit" class = "btn btn-success log-btn block-center">Sign in</button>
                  </div>
                  <div class = "col-xs-6 col-xs-offset-1 col-sm-2 col-sm-offset-4 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4">
                    <button type = "reset" class = "btn btn-warning log-btn block-center">Reset</button>
                  </div>
                </div>
                <div class = "form-group row">
                  <div class = "col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id = "line-form">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id = "pre-loader">
      <div id = "loader" class = "main row">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img src = "../public/images/loader.gif">
        </div>
      </div>
    </div>
  </body>
  <script src = "../public/js/login.js"></script>
</html>
