body
{
  font-family: helvetica;
  width: 98%;
  background-color: #1a1d20;
  color: #fff;
}

header
{
	background: #1a1d20;
	color: #fff;
  width: 102%;
  padding: 13%;
  webkit-transition: background-color 4s;
  transition: background-color 4s;
}

header h1
{
  font-size: 30px;
  padding: 40px;
  text-align: center;
  padding-top: 20px;
  display: none;
}

.main
{
  width: 100%;
  height: 218px;
}

.main > section
{
  height: 100%;
}

.circle
{
  background-color: white;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transform: translate(5%, -50%);
  text-align: center;
  vertical-align: center;
  box-shadow: 0px 0px 3px #888888;
}

.circle-2
{
  background-color: white;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transform: translate(5%, 30%);
  text-align: center;
  vertical-align: center;
  box-shadow: 0px 0px 3px #888888;
  margin-bottom: 50px;
}

.circle img
{
  width: 50%;
  padding: 2%;
  margin-top: 30%;
}

 .circle-2 img
 {
   width: 50%;
   padding: 2%;
   margin-top: 30%;
 }

#link-to-create
{
  -webkit-transition: transform 1s;
  transition: transform 1s;
  display: none;
}

#link-to-create:hover
{
  transform: translate(5%, -30%);
}

#link-to-read
{
  webkit-transition: transform 1s;
  transition: transform 1s;
  display: none;
}

#link-to-read:hover
{
  transform: translate(5%, -30%);
}

#link-to-update
{
  webkit-transition: transform 1s;
  transition: transform 1s;
  display: none;
}

#link-to-update:hover
{
  transform: translate(5%, -30%);
}

#link-to-delete
{
  webkit-transition: transform 1s;
  transition: transform 1s;
  display: none;
}

#link-to-delete:hover
{
  transform: translate(5%, -30%);
}

#pre-loader
{
  position: fixed;
  top:0; left:0;
  right:0; bottom:0;
  background: white;
  z-index: 100;
}

#loader
{
  width: 100px;
  height: 100px;
  position: absolute;
  left:35%; top:30%;
  background: white no-repeat center 0;
}

#h2-title
{
  text-align: center;
}

#form-header
{
  background: #1a1d20;
  color: #fff;
  width: 102%;
  padding: 3%;
}

.button-width
{
  width: 140px;
}

.button-container, .button-container div
{
  height: 40px;
}

#project-2
{
  display: none;
  height: 200px;
}

#authors-label
{
  margin-top: 40px;
}

.div-select
{
  height: 100px;
  width: 100%;
  transform: translate(3%, 0%);
}

.form-label
{
  transform: translate(3%, 0%);
}

.move-select
{
  transform: translate(3%, 0%);
}

.panel-color
{
  background-color: rgb(55, 55, 55);
  border-radius: 7px;
  height: 400px;
}

#advisers-label
{
  margin-top: 20px;
}

#button-container-2
{
  margin-top: 40px;
}

.filters-padding
{
  padding: 5px;
}

#button-main-div
{
  padding-bottom: 50px;
}

#filters-title, #filters, #button-filters
{
  display: none;
}

#addedDate
{
  height: 38px;
}

#container-create, #container-read, #container-update, #container-delete
{
  display: none;
}

#link-to-project-create, #link-to-adviser-create, #link-to-author-create, #link-to-investigation-line-create,
#link-to-project-read, #link-to-adviser-read, #link-to-author-read, #link-to-investigation-line-read,
#link-to-project-update, #link-to-adviser-update, #link-to-author-update, #link-to-investigation-line-update,
#link-to-project-delete, #link-to-adviser-delete, #link-to-author-delete, #link-to-investigation-line-delete
{
  display: none;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

#link-to-project-create:hover, #link-to-adviser-create:hover, #link-to-author-create:hover, #link-to-investigation-line-create:hover,
#link-to-project-read:hover, #link-to-adviser-read:hover, #link-to-author-read:hover, #link-to-investigation-line-read:hover,
#link-to-project-update:hover, #link-to-adviser-update:hover, #link-to-author-update:hover, #link-to-investigation-line-update:hover,
#link-to-project-delete:hover, #link-to-adviser-delete:hover, #link-to-author-delete:hover, #link-to-investigation-line-delete:hover
{
  transform: translate(5%, 10%);
}

.panel-color-ad
{
  background-color: rgb(55, 55, 55);
  border-radius: 7px;
  height: 350px;
}

.panel-color-il
{
  background-color: rgb(55, 55, 55);
  border-radius: 7px;
  height: 250px;
}

#hidden-project-id
{
  display: none;
}

#confirmation-message
{
  height: 150px;
  position: absolute;
  top: 40%;
  left: 35%;
  background-color: rgb(254, 44, 44);
  padding: 20px;
  border-radius: 10px;
  min-width: 400px;
  display: none;
}

#main-div
{
  height: 100%;
}

#internal-div
{
  height: 100%;
  width: 100%;
  text-align: center;
  text-shadow: 0px 2px 5px rgb(246, 7, 7);
}

#login-h4
{
  color: white;
  display: block;
  padding: 0%;
  margin-bottom: 0%;
  text-align: center;
  margin-bottom: -50px;
}

#login-box
{
  background-color: white;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
}

.control-label
{
  color: rgb(47, 47, 47);
  margin-top: 8px;
}

#login-body
{
  color: rgb(47, 47, 47);
}

.log-btn
{
  width: 80px;
}

#line-form
{
  height: 1px;
  background: rgb(107, 107, 107);
}
